<div class="container main" ng-controller="ip">
    <div class="resource-details">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-bar">
                    <img class="pull-left title-flag" src="https://www.bgpview.io/assets/flags/shiny/64/{{data.rir_allocation.country_code}}.png" title="{{data.rir_allocation.country_code}}" alt="{{data.rir_allocation.country_code}}" />
                    <div class="title-text pull-left ">
                        <h2>{{data.rir_allocation.country_code}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="resource-content">
                    <div class="row">
                        <div id="content-info" class="col-sm-12 box">                                                                            
                            <h3>Announced Prefixes</h3>
                            <div role="tabpanel" class="tab-pane active" id="table-peers-v4">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Country</th>
                                            <th>Announced Prefix</th>
                                            <th>Prefix Name</th>
                                            <th>Prefix Description</th>
                                            <th>ASN</th>
                                            <th>ASN Description</th>
                                            <th>ASN Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="prefix in data.prefixes">
                                            <td class="flag">
                                                <img
                                                src="https://bgpview.io/assets/flags/shiny/32/{{prefix.country_code}}.png"
                                                title="{{prefix.country_code}}"
                                                alt="{{prefix.country_code}}" />
                                            </td>
                                            <td>
                                                <a href ng-click="getPrefix({prefix:prefix.prefix})">{{prefix.prefix}}</a>
                                            </td>
                                            <td>{{prefix.name}}</td>
                                            <td>{{prefix.description}}</td>
                                            <td>
                                                <a href ng-click="getAsn({asn:prefix.asn.asn})" style="cursor:pointer;">{{prefix.asn.asn}}</a>
                                            </td>
                                            <td>{{prefix.asn.description}}</td>
                                            <td>{{prefix.asn.name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                        
                            <hr />
                            <h3>RIR Allocation Summary</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="line-info">
                                        <h4 class="inline">Prefix:</h4>
                                        <span><a href ng-click="getPrefix({prefix:data.rir_allocation.prefix})">{{data.rir_allocation.prefix}}</a></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="line-info">
                                        <h4 class="inline">Regional Registry:</h4>
                                        <span>{{data.rir_allocation.rir_name}}</span>
                                    </div>
                                    <div class="line-info">
                                        <h4 class="inline">Allocation Status:</h4>
                                        <span>
                                            {{data.rir_allocation.allocation_status}}
                                        </span>
                                    </div>
                                    <div class="line-info">
                                        <h4 class="inline">Allocated Country:</h4>
                                        <span>
                                            <img src="https://www.bgpview.io/assets/flags/shiny/24/{{data.rir_allocation.country_code}}.png" title="{{data.rir_allocation.country_code}}" alt="{{data.rir_allocation.country_code}}" />
                                        </span>
                                    </div>
                                    <div class="line-info">
                                        <h4 class="inline">Allocation Date:</h4>
                                        <span>
                                            {{data.rir_allocation.date_allocated | date: 'mediumDate'}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>