<div class="container main" ng-controller="ix">
    <div class="resource-details">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-bar">
                    <img class="pull-left title-flag" src="https://bgpview.io/assets/flags/shiny/64/{{data.country_code | countryUnknown}}.png" title="{{data.country_code}}" alt="{{data.country_code}}" />
                    <div class="title-text pull-left ">
                        <h2>{{data.name}}</h2>
                        <h4>{{data.name_full}}</h4>
                    </div>
                    <a class="button button--aqua hidden-xs" href="{{data.website}}" target="_blank">Website</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="subheader-bar">
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>Tech Email:</strong> {{data.tech_email}}
                        </div>
                        <div class="col-sm-3">
                            <strong>Tech Phone:</strong> {{data.tech_phone}}
                        </div>
                        <div class="col-sm-3">
                            <strong>Policy Email:</strong> {{data.policy_email}}
                        </div>
                        <div class="col-sm-3">
                            <strong>Policy Phone:</strong> {{data.policy_phone}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="resource-content">
                    <div class="row">
                        <div id="content-info" class="col-sm-12 box">
                            <h3>Summary</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="line-info">
                                        <h4 class="inline">Name:</h4>
                                        <span>{{data.name}}</span>
                                    </div>
                                    <div class="line-info">
                                        <h4 class="inline">Full Name:</h4>
                                        <span>{{data.name_full}}</span>
                                    </div>
                                    <div class="line-info">
                                        <h4 class="inline">IX Website:</h4>
                                        <span>
                                            <a href="{{data.website}}" target="_blank">{{data.website}}</a>
                                        </span>
                                    </div>
                                    <div class="line-info">
                                        <h4 class="inline">City:</h4>
                                        <span>{{data.city}}</span>
                                    </div>
                                    <div class="line-info">
                                        <h4 class="inline">Country:</h4>
                                        <span>{{data.country_code}}</span>
                                    </div>
                                    <div class="line-info">
                                        <h4 class="inline">Members:</h4>
                                        <span>{{data.members_count}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="line-info">
                                        <h4 class="inline">Tech Email:</h4>
                                        <span>{{data.tech_email}}</span>
                                    </div>
                                    <div class="line-info">
                                        <h4 class="inline">Tech Phone:</h4>
                                        <span>{{data.tech_phone}}</span>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <h3>Members</h3>
                            <div role="tabpanel" class="tab-pane active" id="table-peers-v4">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Country</th>
                                            <th>ASN</th>
                                            <th>Description</th>
                                            <th class="hidden-sm hidden-xs">IPv4</th>
                                            <th class="hidden-sm hidden-xs">IPv6</th>
                                            <th>Port Speed</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in data.members">
                                            <td class="flag">
                                                <img
                                                src="https://bgpview.io/assets/flags/shiny/32/{{item.country_code | countryUnknown}}.png"
                                                title="{{item.country_code}}"
                                                alt="{{item.country_code}}" />
                                            </td>
                                            <td>
                                                <a href ng-click="getAsn({asn:item.asn})" style="cursor:pointer;">AS{{item.asn}}</a>
                                            </td>
                                            <td>{{item.description}}</td>
                                            <td>
                                                <a href ng-click="getIp({ip:item.ipv4_address})">{{item.ipv4_address}}</a>
                                            </td>
                                            <td>
                                                <a href ng-click="getIp({ip:item.ipv6_address})">{{item.ipv6_address}}</a>
                                            </td>
                                            <td>{{item.speed | formatSpeed}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>