<div class="container main" ng-controller="prefix">
    <div class="resource-details">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-bar">
                    <img class="pull-left title-flag" src="https://www.bgpview.io/assets/flags/shiny/64/{{data.prefix.country_codes.whois_country_code}}.png" title="{{data.prefix.country_codes.whois_country_code}}" alt="{{data.prefix.country_codes.whois_country_code}}" />
                    <div class="title-text pull-left ">
                        <h2>{{data.prefix.prefix}}</h2>
                        <h4>{{data.prefix.description_short}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="subheader-bar">
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>Announcing ASNs:</strong> {{data.prefix.asns.length}}
                        </div>
                        <div class="col-sm-3">
                            <strong>Parent Prefix:</strong> {{data.prefix.rir_allocation.prefix}}
                        </div>
                        <div class="col-sm-3">
                            <strong>Abuse:</strong> {{data.prefix.abuse_contacts[0]}}
                        </div>
                        <div class="col-sm-3">
                            <strong>RIR:</strong> {{data.prefix.rir_allocation.rir_name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="resource-content">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="side-nav">
                                <ul>
                                    <li><a id="nav-info" href ng-click="showTab('info')" ng-class="{selected: tab == 'info'}">Prefix</a></li>
                                    <li><a id="nav-routing" href ng-click="showTab('routing')" ng-class="{selected: tab == 'routing'}">Routing</a></li>
                                    <li><a id="nav-whois" href ng-click="showTab('whois')" ng-class="{selected: tab == 'whois'}">Raw Whois</a></li>
                                </ul>
                            </div>
                        </div>
                        <div id="content-info" class="col-sm-10 box" ng-show="tab == 'info'">
                            <h3>Announcing ASNs</h3>
                            <div role="tabpanel" class="tab-pane active" id="table-peers-v4">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Country</th>
                                        <th>ASN</th>
                                        <th class="hidden-xs">Name</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in data.prefix.asns">
                                            <td class="flag">
                                                <img
                                                src="https://bgpview.io/assets/flags/shiny/32/{{item.country_code}}.png"
                                                title="{{item.country_code}}"
                                                alt="{{item.country_code}}" />
                                            </td>
                                            <td>
                                                <a href ng-click="getAsn({asn:item.asn})" style="cursor:pointer;">{{item.asn}}</a>
                                            </td>
                                            <td class="hidden-xs">{{item.name}}</td>
                                            <td>{{item.description}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                            
                            <hr />
                            <h3>Summary</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="line-info">
                                        <h4 class="inline">Prefix:</h4>
                                        <span>{{data.prefix.prefix}}</span>
                                    </div>
                                    <div class="line-info">
                                        <h4 class="inline">Name:</h4>
                                        <span>{{data.prefix.name}}</span>
                                    </div>
                                    <div class="line-info">
                                        <h4 class="inline">Description:</h4>
                                        <span>{{data.prefix.description_short}}</span>
                                    </div>
                                    <div class="line-info">
                                        <h4 class="inline">Country:</h4>
                                        <img src="https://www.bgpview.io/assets/flags/shiny/24/{{data.prefix.country_codes.whois_country_code}}.png" title="{{data.prefix.country_codes.whois_country_code}}" alt="{{data.prefix.country_codes.whois_country_code}}" />
                                    </div>
                                    <div class="line-info">
                                        <h4 class="inline">IP Addresses:</h4>
                                        <span>{{data.ipcount}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="line-info">
                                        <h4 class="inline">Regional Registry:</h4>
                                        <span>{{data.prefix.rir_allocation.rir_name}}</span>
                                    </div>
                                    <div class="line-info">
                                        <h4 class="inline">Allocation Status:</h4>
                                        <span>{{data.prefix.rir_allocation.allocation_status | uppercase}}</span>
                                    </div>
                                    <div class="line-info">
                                        <h4 class="inline">Allocation Date:</h4>
                                        <span>{{data.prefix.rir_allocation.date_allocated | date: 'mediumDate'}}</span>
                                    </div>
                                    <div class="line-info">
                                        <h4 class="inline">Parent Prefix:</h4>
                                        <span>{{data.prefix.rir_allocation.prefix}}</span>
                                    </div>
                                    <div class="line-info">
                                        <h4 class="inline">Allocated Country:</h4>
                                        <span>
                                            <img src="https://www.bgpview.io/assets/flags/shiny/24/{{data.prefix.rir_allocation.country_code}}.png" title="{{data.prefix.rir_allocation.country_code}}" alt="{{data.prefix.rir_allocation.country_code}}" />
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <h3>Contacts</h3>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="line-info">
                                        <h4>Email Contacts:</h4>
                                        <div ng-repeat="email in data.prefix.email_contacts">
                                            <span>{{email}}</span>
                                        </div>
                                    </div>
                                </div>
                                <hr class="visible-xs" />
                                <div class="col-sm-4">
                                    <div class="line-info">
                                        <h4>Abuse Contacts:</h4>
                                        <div ng-repeat="email in data.prefix.abuse_contacts">
                                            <span>{{email}}</span>
                                        </div>
                                    </div>
                                </div>
                                <hr class="visible-xs" />
                                <div class="col-sm-4">
                                    <div class="line-info">
                                        <h4>Address:</h4>
                                        <div ng-repeat="address in data.prefix.owner_address">
                                            {{address}}{{$last ? '' : ','}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="content-routing" class="col-sm-10 box" ng-show="tab == 'routing'">
                            <div role="tabpanel" class="tab-pane active" id="table-routing">
                                <!-- <h3> <a href="https://www.bgpview.io/asn/12025">AS12025</a> IO Capital Princess, LLC - Prefix Upstreams</h3> -->
                                <div class="row">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Country</th>
                                                <th>ASN</th>
                                                <th class="hidden-xs">Name</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in data.prefix.asns">
                                                <td class="flag">
                                                    <img
                                                    src="https://bgpview.io/assets/flags/shiny/32/{{item.country_code}}.png"
                                                    title="{{item.country_code}}"
                                                    alt="{{item.country_code}}" />
                                                </td>
                                                <td><a href ng-click="getAsn({asn:item.asn})" style="cursor:pointer;">{{item.asn}}</a></td>
                                                <td class="hidden-xs">{{item.name}}</td>
                                                <td>{{item.description}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="content-whois" class="col-sm-10 box" ng-show="tab == 'whois'">
                            <pre># ARIN WHOIS</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>